* {
    box-sizing: border-box;
}
body {
    font: 16px/1.5 system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,sans-serif;
    margin: 0 auto;
    max-width: 40rem;
    padding: 1rem 1rem 3rem;
    width: 100%;
}

a,a:visited {
    color: blue;
}

h1 {
    margin-bottom: 0;
}

h3:not(:first-of-type) {
    margin-top: 2rem;
}

h4 {
    margin-bottom: 0;
    padding-left: 1.5rem;
    text-transform: uppercase;
}

hr {
    background: lightgrey;
    border: 0;
    height: 1px;
    margin: 2rem auto;
}

header {
    border-bottom: 1px solid lightgrey;
    margin: 0 auto 3rem;
    padding: 1rem 0 1.5rem;
}
header h2 {
    margin: 0;
}
header h2 a, header h2 a:visited {
    color: currentColor;
}
header svg {
    position: relative;
    top: 3px;
}

blockquote {
    background: rgba(173, 216, 230, 0.3);
    border-left: 8px solid cornflowerblue;
    margin: 2rem 0 0 0;
    padding: 1rem;
}
blockquote h5 {
    color: blue;
    font-size: 18px;
    margin: 0 0 0.5rem;
}
blockquote p {
    font-family: serif;
    font-style: italic;
    margin: 0;
}

main h2 {
    text-transform: capitalize;
}
main hr:last-of-type {
    display: none;
}

.recipe-post {
    margin-bottom: 4rem;
}
.recipe-post h1 {
    margin-bottom: 2rem;
}
.recipe-post h3 {
    background: lightgrey;
    color: black;
    line-height: 1;
    padding: 0.6rem;
}
.recipe-post h4:not(:first-of-type) {
    margin-top: 2rem;
}
.recipe-post ol li,
.recipe-post ul li {
    margin-bottom: 1rem;
}

ul.recipe-list {
    margin: 0;
    padding: 0 0 0 2rem;
}
ul.recipe-list li {
    margin: 0 0 0.6rem;
}

footer {
    border-top: 1px solid grey;
    margin: 8rem auto;
    padding: 1rem 0 0;
}

@supports (color-scheme: dark light) {
    @media screen and (prefers-color-scheme: dark) {
        a {color: #9e9eff;}
        a:visited {color: #d0adf0;}
    }
}
