<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    {% include header.html %}
    <main>
        {% for collection in site.collections %}
            {% if collection.label != 'posts' %}
                <h2>{{ collection.label }}</h2>
                <ul class="recipe-list">
                {% for item in site[collection.label] %}
                    <li>
                        <a href="{{ item.url }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
                </ul>
                <hr>
            {% endif %}
        {% endfor %}
    </main>
    {% include footer.html %}
  </body>
</html>
